body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
  }
  .heading {
    color: rgb(82, 81, 81);
    font-weight: 100;
    font-size: 24px;
    line-height: 28px;
  }
  .weather-app {
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    border: 2px solid #f7eeee;
    border-radius: 10px;
    background-color: rgb(222, 245, 251);
  }
  .weather-app-wrap {
    max-width: 600px;
    margin: 30px auto;
  }
  .weather-temperature img {
    margin-right: 10px;
    height: 64px;
    width: 64px;
  }
  .weather-temperature strong {
    color: rgb(18, 18, 19);
    font-weight: 400;
    font-size: 50px;
    line-height: 1;
  }
  .weather-temperature small {
    position: relative;
    color: rgb(32, 32, 32);
    top: -25px;
    font-size: 16px;
    line-height: 1;
  }
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    list-style: none;
    color: rgb(119, 117, 117);
    font-size: 16px;
    font-weight: 100;
    line-height: 19px;
    margin: 0;
    padding: 0;
  }
  li:first-letter {
    text-transform: capitalize;
  }
  .weather-temperature .active {
    color: rgb(33, 33, 33);
    cursor: default;
  }
  
  .code-owner {
    font-size: 12px;
    width: 48%;
    margin: 0 auto;
    padding: 5px;
  }
  a:link {
    text-decoration: none;
  }
  .weather-forecast{
    margin-top: 20px;
    text-align: center;
  }
  .weather-forecast-date {
    font-size: 16px;
    color: #000;
  }
  .weather-temperature .units {
    position: relative;
    font-size: 16px;
    top: -25px;
  }